Talk about:

* Central Limit Theorem
* Normal Distribution
* 6 sigma

#### Outliers

In [220]:
prices_mean = prices_pd.HighQ.mean()
prices_std = prices_pd.HighQ.std()

print prices_mean, prices_std

329.759854142 41.1731669801

In [229]:
prices_pd[(prices_pd.HighQ > (prices_mean + (3.0 * prices_std)))].head()

Empty DataFrame
Columns: [State, HighQ, HighQN, MedQ, MedQN, LowQ, LowQN, date]
Index: []

In [230]:
prices_pd[(prices_pd.HighQ < (prices_mean - (3.0 * prices_std)))].head()

        State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
15127  Oregon  206.22    2161  181.28   1996  177.42     91 2014-12-20
15841  Oregon  206.17    2162  181.28   1996  177.42     92 2014-12-21
16555  Oregon  206.09    2164  181.33   1998  177.42     92 2014-12-22
17269  Oregon  206.06    2165  181.27   1999  177.42     92 2014-12-23
17983  Oregon  206.04    2166  181.27   2001  177.42     92 2014-12-24

In [231]:
prices_pd[(prices_pd.HighQ < (prices_mean - (3.0 * prices_std)))].count()

State     92
HighQ     92
HighQN    92
MedQ      92
MedQN     92
LowQ      92
LowQN     92
date      92
dtype: int64

## To Do outlier plot

## To Do box plot

## Add quantile(0.7)

In [234]:
maryland_pd = prices_pd[prices_pd["State"] == "Maryland"].copy(True)
maryland_pd.head()

          State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
20126  Maryland  380.08    1954  248.50   1534  197.82    150 2013-12-27
20891  Maryland  380.08    1954  248.53   1535  197.82    150 2013-12-28
21605  Maryland  380.03    1957  248.67   1538  197.16    151 2013-12-29
22319  Maryland  379.91    1959  248.79   1539  196.59    152 2013-12-30
22829  Maryland  380.07    1962  248.69   1542  196.59    152 2013-12-31

In [245]:
legalize_date = dt(2014,10,1)
maryland_before_pd = maryland_pd.ix[(maryland_pd["date"] > dt(2014,7,1)) & (maryland_pd["date"] < legalize_date)]
maryland_after_pd = maryland_pd.ix[(maryland_pd["date"] < dt(2014,12,31)) & (maryland_pd["date"] > legalize_date)]

In [247]:
maryland_before_pd.head()

         State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
1256  Maryland  371.10    2446  250.70   2006  187.53    178 2014-07-02
1970  Maryland  371.01    2448  250.69   2009  187.53    178 2014-07-03
2735  Maryland  371.01    2448  250.83   2013  187.53    178 2014-07-04
3500  Maryland  371.01    2448  250.97   2015  187.53    178 2014-07-05
4265  Maryland  371.09    2451  250.85   2018  187.53    178 2014-07-06

In [249]:
maryland_after_pd.head()

         State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
1358  Maryland  369.67    2615  253.31   2218  187.01    185 2014-10-02
2123  Maryland  369.66    2619  253.31   2218  187.01    185 2014-10-03
2888  Maryland  369.56    2621  253.20   2219  187.01    185 2014-10-04
3653  Maryland  369.45    2624  253.20   2219  187.01    185 2014-10-05
4418  Maryland  369.50    2626  253.29   2223  187.01    185 2014-10-06

In [268]:
stats.ttest_ind(maryland_before_pd.HighQ, maryland_after_pd.HighQ)

Ttest_indResult(statistic=19.687152846004878, pvalue=1.4866967905819766e-46)

In [259]:
np.random.seed(12345678)

In [260]:
rvs1 = stats.norm.rvs(loc=5,scale=10,size=500)
rvs2 = stats.norm.rvs(loc=5,scale=10,size=500)
stats.ttest_ind(rvs1,rvs2)

stats.ttest_ind(rvs1,rvs2, equal_var = False)

Ttest_indResult(statistic=0.26833823296238857, pvalue=0.78849452749501059)

In [ ]:
stats.ttest_ind_from_stats