In [1]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
from scipy import stats

### Read the input datasets. There are three datasets:

1. Weed price by date / state
2. Demographics of State
3. Population of state

In [2]:
prices_pd = pd.read_csv("../data/Weed_Price.csv", parse_dates=[-1])
demography_pd = pd.read_csv("../data/Demographics_State.csv")
population_pd = pd.read_csv("../data/Population_State.csv")

In [3]:
prices_pd.head()

        State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
0     Alabama  339.06    1042  198.64    933  149.49    123 2014-01-01
1      Alaska  288.75     252  260.60    297  388.58     26 2014-01-01
2     Arizona  303.31    1941  209.35   1625  189.45    222 2014-01-01
3    Arkansas  361.85     576  185.62    544  125.87    112 2014-01-01
4  California  248.78   12096  193.56  12812  192.92    778 2014-01-01

In [60]:
prices_pd.tail()

               State   HighQ  HighQN    MedQ  MedQN  LowQ  LowQN       date
22894       Virginia  364.98    3513  293.12   3079   NaN    284 2014-12-31
22895     Washington  233.05    3337  189.92   3562   NaN    160 2014-12-31
22896  West Virginia  359.35     551  224.03    545   NaN     60 2014-12-31
22897      Wisconsin  350.52    2244  272.71   2221   NaN    167 2014-12-31
22898        Wyoming  322.27     131  351.86    197   NaN     12 2014-12-31

In [61]:
demography_pd.head()

,region,total_population,percent_white,percent_black,percent_asian,percent_hispanic,per_capita_income,median_rent,median_age
0,alabama,4799277,67,26,1,4,23680,501,38.1
1,alaska,720316,63,3,5,6,32651,978,33.6
2,arizona,6479703,57,4,3,30,25358,747,36.3
3,arkansas,2933369,74,15,1,7,22170,480,37.5
4,california,37659181,40,6,13,38,29527,1119,35.4

In [62]:
population_pd.head()

       region     value
0     alabama   4777326
1      alaska    711139
2     arizona   6410979
3    arkansas   2916372
4  california  37325068

In [63]:
prices_pd.dtypes

State             object
HighQ            float64
HighQN             int64
MedQ             float64
MedQN              int64
LowQ             float64
LowQN              int64
date      datetime64[ns]
dtype: object

#### Sort the data on state and date, then fill NA values

In [64]:
prices_pd.sort(columns=['State', 'date'], inplace=True)
prices_pd.fillna(method='ffill', inplace=True)

### Finding mean, median, mode, variance, standard deviation for California

#### Mean

In [105]:
california_pd = prices_pd[prices_pd.State == "California"].copy(True)
california_pd.head()

            State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
20098  California  248.77   12021  193.44  12724  193.88    770 2013-12-27
20863  California  248.74   12025  193.44  12728  193.88    770 2013-12-28
21577  California  248.76   12047  193.55  12760  193.60    772 2013-12-29
22291  California  248.82   12065  193.54  12779  193.80    773 2013-12-30
22801  California  248.76   12082  193.54  12792  193.80    773 2013-12-31

In [106]:
ca_sum = california_pd['HighQ'].sum()

In [107]:
ca_count = california_pd['HighQ'].count()

In [108]:
ca_mean = ca_sum / ca_count
print ca_mean

245.376124722

#### Exercise: Find CA mean for 2013, 2014 & 2015 separately

*Hint:* `california_pd.iloc[0]['date'].year`

#### Median

In [109]:
ca_count

449

If count is odd, the median is the value at (n+1)/2,

else it is the average of n/2 and (n+1)/2

In [110]:
ca_highq_pd = california_pd.sort(columns=['HighQ'])
ca_highq_pd.head()

            State   HighQ  HighQN    MedQ  MedQN   LowQ  LowQN       date
19027  California  241.84   18419  187.90  21965  188.6   1229 2015-05-26
19741  California  241.85   18450  187.90  21993  188.6   1231 2015-05-27
8011   California  241.87   18066  188.86  21561  188.6   1212 2015-05-11
8827   California  241.87   18073  188.89  21584  188.6   1213 2015-05-12
18313  California  241.88   18398  187.85  21949  188.6   1228 2015-05-25

In [125]:
ca_median = ca_highq_pd.HighQ.iloc[(ca_count) / 2]
ca_median

245.31

#### Mode

In [112]:
ca_mode = ca_highq_pd.HighQ.value_counts().index[0]
ca_mode

245.03

#### Variance

In [113]:
california_pd['HighQ_dev'] = (california_pd['HighQ'] - ca_mean) ** 2

In [117]:
ca_HighQ_variance = california_pd.HighQ_dev.sum() / (ca_count - 1)
ca_HighQ_variance

2.9826862879812279

#### Standard Deviation

In [120]:
ca_HighQ_SD = np.sqrt(ca_HighQ_variance)
ca_HighQ_SD

1.727045537321245

#### Using Pandas built-in function

In [121]:
california_pd.describe()

,HighQ,HighQN,MedQ,MedQN,LowQ,LowQN,HighQ_dev
count,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000
mean,245.376125,14947.073497,191.268909,16769.821826,189.783586,976.298441,2.976043
std,1.727046,1656.133565,1.524028,2433.943191,1.598252,120.246714,3.961134
min,241.840000,12021.000000,187.850000,12724.000000,187.830000,770.000000,0.000015
25%,244.480000,13610.000000,190.260000,14826.000000,188.600000,878.000000,0.106357
50%,245.310000,15037.000000,191.570000,16793.000000,188.600000,982.000000,0.729103
75%,246.220000,16090.000000,192.550000,18435.000000,191.320000,1060.000000,4.435761
max,248.820000,18492.000000,193.630000,22027.000000,193.880000,1232.000000,12.504178

In [130]:
california_pd.HighQ.mode()

0    245.03
1    245.05
dtype: float64

#### Co-variance of weed price in California vs New York

In [148]:
ny_pd = prices_pd[prices_pd['State'] == 'New York'].copy(True)
ny_pd.head()

          State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
20120  New York  351.98    5773  268.83   5786  190.31    479 2013-12-27
20885  New York  351.92    5775  268.83   5786  190.31    479 2013-12-28
21599  New York  351.99    5785  269.02   5806  190.75    480 2013-12-29
22313  New York  352.02    5791  268.98   5814  190.75    480 2013-12-30
22823  New York  351.97    5794  268.93   5818  190.75    480 2013-12-31

In [149]:
ny_pd = ny_pd.ix[:,[1,7]]
ny_pd.columns = ['NY_HighQ', 'date']

In [150]:
ny_pd.head()

       NY_HighQ       date
20120    351.98 2013-12-27
20885    351.92 2013-12-28
21599    351.99 2013-12-29
22313    352.02 2013-12-30
22823    351.97 2013-12-31

In [157]:
ca_ny_pd = pd.merge(california_pd.ix[:,[1,7]].copy(), ny_pd, on="date")
ca_ny_pd.rename(columns={"HighQ": "CA_HighQ"}, inplace=True)
ca_ny_pd.head()

   CA_HighQ       date  NY_HighQ
0    248.77 2013-12-27    351.98
1    248.74 2013-12-28    351.92
2    248.76 2013-12-29    351.99
3    248.82 2013-12-30    352.02
4    248.76 2013-12-31    351.97

In [159]:
ny_mean = ca_ny_pd.NY_HighQ.mean()
ny_mean

346.91276169265035

In [161]:
ca_ny_pd['ca_dev'] = ca_ny_pd['CA_HighQ'] - ca_mean
ca_ny_pd.head()

   CA_HighQ       date  NY_HighQ    ca_dev
0    248.77 2013-12-27    351.98  3.393875
1    248.74 2013-12-28    351.92  3.363875
2    248.76 2013-12-29    351.99  3.383875
3    248.82 2013-12-30    352.02  3.443875
4    248.76 2013-12-31    351.97  3.383875

In [163]:
ca_ny_pd['ny_dev'] = ca_ny_pd['NY_HighQ'] - ny_mean
ca_ny_pd.head()

   CA_HighQ       date  NY_HighQ    ca_dev    ny_dev
0    248.77 2013-12-27    351.98  3.393875  5.067238
1    248.74 2013-12-28    351.92  3.363875  5.007238
2    248.76 2013-12-29    351.99  3.383875  5.077238
3    248.82 2013-12-30    352.02  3.443875  5.107238
4    248.76 2013-12-31    351.97  3.383875  5.057238

In [177]:
ca_ny_cov = (ca_ny_pd['ca_dev'] * ca_ny_pd['ny_dev']).sum() / (ca_count - 1)
ca_ny_cov

5.9168149672884214

#### Using Pandas built-in function

In [178]:
ca_ny_pd.cov()

          CA_HighQ   NY_HighQ    ca_dev     ny_dev
CA_HighQ  2.982686   5.916815  2.982686   5.916815
NY_HighQ  5.916815  12.245147  5.916815  12.245147
ca_dev    2.982686   5.916815  2.982686   5.916815
ny_dev    5.916815  12.245147  5.916815  12.245147

#### Correlation

In [184]:
ca_highq_std = ca_ny_pd.CA_HighQ.std()
ny_highq_std = ca_ny_pd.NY_HighQ.std()

ca_ny_corr = ca_ny_cov / (ca_highq_std * ny_highq_std)
ca_ny_corr

0.97904396110652658

In [185]:
ca_ny_pd.corr()

          CA_HighQ  NY_HighQ    ca_dev    ny_dev
CA_HighQ  1.000000  0.979044  1.000000  0.979044
NY_HighQ  0.979044  1.000000  0.979044  1.000000
ca_dev    1.000000  0.979044  1.000000  0.979044
ny_dev    0.979044  1.000000  0.979044  1.000000

Correlation != Causation

Add funny pictures

Talk about:

* Central Limit Theorem
* Normal Distribution
* 6 sigma

#### Outliers

In [220]:
prices_mean = prices_pd.HighQ.mean()
prices_std = prices_pd.HighQ.std()

print prices_mean, prices_std

329.759854142 41.1731669801

In [229]:
prices_pd[(prices_pd.HighQ > (prices_mean + (3.0 * prices_std)))].head()

Empty DataFrame
Columns: [State, HighQ, HighQN, MedQ, MedQN, LowQ, LowQN, date]
Index: []

In [230]:
prices_pd[(prices_pd.HighQ < (prices_mean - (3.0 * prices_std)))].head()

        State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
15127  Oregon  206.22    2161  181.28   1996  177.42     91 2014-12-20
15841  Oregon  206.17    2162  181.28   1996  177.42     92 2014-12-21
16555  Oregon  206.09    2164  181.33   1998  177.42     92 2014-12-22
17269  Oregon  206.06    2165  181.27   1999  177.42     92 2014-12-23
17983  Oregon  206.04    2166  181.27   2001  177.42     92 2014-12-24

In [231]:
prices_pd[(prices_pd.HighQ < (prices_mean - (3.0 * prices_std)))].count()

State     92
HighQ     92
HighQN    92
MedQ      92
MedQN     92
LowQ      92
LowQN     92
date      92
dtype: int64

## To Do outlier plot

## To Do box plot

## Add quantile(0.7)

In [234]:
maryland_pd = prices_pd[prices_pd["State"] == "Maryland"].copy(True)
maryland_pd.head()

          State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
20126  Maryland  380.08    1954  248.50   1534  197.82    150 2013-12-27
20891  Maryland  380.08    1954  248.53   1535  197.82    150 2013-12-28
21605  Maryland  380.03    1957  248.67   1538  197.16    151 2013-12-29
22319  Maryland  379.91    1959  248.79   1539  196.59    152 2013-12-30
22829  Maryland  380.07    1962  248.69   1542  196.59    152 2013-12-31

In [245]:
legalize_date = dt(2014,10,1)
maryland_before_pd = maryland_pd.ix[(maryland_pd["date"] > dt(2014,7,1)) & (maryland_pd["date"] < legalize_date)]
maryland_after_pd = maryland_pd.ix[(maryland_pd["date"] < dt(2014,12,31)) & (maryland_pd["date"] > legalize_date)]

In [247]:
maryland_before_pd.head()

         State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
1256  Maryland  371.10    2446  250.70   2006  187.53    178 2014-07-02
1970  Maryland  371.01    2448  250.69   2009  187.53    178 2014-07-03
2735  Maryland  371.01    2448  250.83   2013  187.53    178 2014-07-04
3500  Maryland  371.01    2448  250.97   2015  187.53    178 2014-07-05
4265  Maryland  371.09    2451  250.85   2018  187.53    178 2014-07-06

In [249]:
maryland_after_pd.head()

         State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
1358  Maryland  369.67    2615  253.31   2218  187.01    185 2014-10-02
2123  Maryland  369.66    2619  253.31   2218  187.01    185 2014-10-03
2888  Maryland  369.56    2621  253.20   2219  187.01    185 2014-10-04
3653  Maryland  369.45    2624  253.20   2219  187.01    185 2014-10-05
4418  Maryland  369.50    2626  253.29   2223  187.01    185 2014-10-06

In [268]:
stats.ttest_ind(maryland_before_pd.HighQ, maryland_after_pd.HighQ)

Ttest_indResult(statistic=19.687152846004878, pvalue=1.4866967905819766e-46)

In [259]:
np.random.seed(12345678)

In [260]:
rvs1 = stats.norm.rvs(loc=5,scale=10,size=500)
rvs2 = stats.norm.rvs(loc=5,scale=10,size=500)
stats.ttest_ind(rvs1,rvs2)

stats.ttest_ind(rvs1,rvs2, equal_var = False)

Ttest_indResult(statistic=0.26833823296238857, pvalue=0.78849452749501059)

In [ ]:
stats.ttest_ind_from_stats